* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    background: linear-gradient(135deg, rgb(27, 38, 59), rgb(13, 27, 42), rgb(27, 38, 59));
    background-repeat: no-repeat;
    background-attachment: fixed;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#back_of_nav_bar {
    background-color: rgb(65, 90, 119);
    position: fixed;
    top: 0;
    z-index: 900;

    width: 100vw;
    height: 10vh;
}

#nav_bar {
    background-color: rgb(65, 90, 119);
    position: fixed;
    top: 0;
    z-index: 1000;

    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    justify-content: center;
    align-items: center;
    gap: 2em;
    height: 10vh;
    width: 50vw;
}

@media (max-width: 768px) {
    #nav_bar {
        width: 50vw;
        grid-template-columns: 1fr 1fr;
        gap: 0.5em;
        top: 5px;
    }

    #back_of_nav_bar {
        height: 15vh;
    }
}

.nav_contents {
    border-style: solid;
    border-color: rgb(119, 141, 169);
    border-width: 2px;

    color: white;
    padding: 1em;

    text-align: center;

    box-shadow: 5px 5px 10px rgb(45, 70, 99)
}

@media (max-width: 768px) {
    .nav_contents {
        padding: 0.75em;
    }
}

.nav_contents:hover {
    background-color: rgb(119, 141, 169);
    cursor: pointer;
}

#text {
    position: absolute;
    top: 20vh;
    left: 2vw;
    width: 30vw;
    height: 115vh;

    text-align: center;

    color: white;
}

#projects {
    position: absolute;
    width: 60vw;
    height: auto;
    left: 35vw;
    top: 12vh;

    color: white;

    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
    gap: 1em;
    grid-template-areas: 
    "raycast raycast raycast"
    "chess chess connect4"
    "chess chess connect4"
    "website website connect4"
    "shapes shapes shapes";

}

@media (max-width: 768px) {
    #projects {
        top: 17vh;
        left: 40vw;
        height: 100vh;
        grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
        grid-template-areas: 
        "raycast raycast raycast"
        "chess chess chess"
        "connect4 connect4 connect4"
        "website website website"
        "shapes shapes shapes";
    }

    #gap {
        margin-top: 100vh;
        height: 100vh;

        border-style: solid;
        border-color: transparent;
    }
}

#raycast {
    grid-area: raycast;
}

#chess {
    grid-area: chess;
}

#connect4 {
    grid-area: connect4;
}

#shapes {
    grid-area: shapes;
}

#website {
    grid-area: website;
}

.box {
    background: linear-gradient(135deg, rgb(65, 90, 119), rgb(35, 60, 89));
    border-radius: 10px;
    box-shadow: 5px 5px 10px rgb(3, 14, 22);

    text-align: center;
    padding: 1em;
}

#end {
    position: fixed;
    bottom:0;
    width:100vw;
    height: 5vh;
    background-color: rgb(65, 90, 119);

    text-align: center;
    color: white;
}

.fa-chess-knight {
    font-size: 47px;
}

.fa-computer {
    font-size: 80px;
}

.fa-circle {
    font-size: 35px;

}



