* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    background: linear-gradient(135deg, rgb(27, 38, 59), rgb(13, 27, 42), rgb(27, 38, 59));
    background-repeat: no-repeat;
    background-attachment: fixed;
    height: 100vh;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

#back_of_nav_bar {
    background-color: rgb(65, 90, 119);
    position: fixed;
    top: 0;
    z-index: 900;

    width: 100vw;
    height: 10vh;
}

#nav_bar {
    background-color: rgb(65, 90, 119);
    position: fixed;
    top: 0;
    z-index: 1000;

    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    justify-content: center;
    align-items: center;
    gap: 2em;
    height: 10vh;
    width: 50vw;
}

@media (max-width: 768px) {
    #nav_bar {
        width: 50vw;
        grid-template-columns: 1fr 1fr;
        gap: 1em;
        top: 5px;
    }

    #back_of_nav_bar {
        height: 15vh;
    }
}

.nav_contents {
    border-style: solid;
    border-color: rgb(119, 141, 169);
    border-width: 2px;

    color: white;
    padding: 1em;

    text-align: center;

    box-shadow: 5px 5px 10px rgb(45, 70, 99)
}

@media (max-width: 768px) {
    .nav_contents {
        padding: 0.75em;
    }
}

.nav_contents:hover {
    background-color: rgb(119, 141, 169);
    cursor: pointer;
}

#text {
    position: absolute;
    top: 13vh;
    left: 2vw;
    right: 5vw;
    width: auto;
    height: auto;

    color: white;

    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 1em;
    grid-template-areas: 
    "lang skills skills"
    "lang others others";
}

@media (max-width: 768px) {
    #text {
        top: 17vh;
        left: 3;
        width: 94vw;
        height: 90vh;

        grid-template-areas: 
        "lang lang"
        "skills skills"
        "others others";
    }
}

#lang {
    grid-area: lang;
}

#skills {
    grid-area: skills;
}

#others {
    grid-area: others;
}

.box {
    background: linear-gradient(135deg, rgb(65, 90, 119), rgb(35, 60, 89));
    border-radius: 10px;
    box-shadow: 5px 5px 10px rgb(3, 14, 22);

    text-align: left;
    padding: 1em;
}

@media (max-width: 768px) {
    #space {
        position: absolute;
        top: 187vh;
        height: 60vh;

        border-style: solid;
        border-color: transparent;
    }
}

#end {
    position: fixed;
    bottom:0;
    width:100vw;
    height: 5vh;
    background-color: rgb(65, 90, 119);

    text-align: center;
    color: white;

}
