* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    background: linear-gradient(135deg, rgb(27, 38, 59), rgb(13, 27, 42), rgb(27, 38, 59));
    background-repeat: no-repeat;
    background-attachment: fixed;
    height: 100vh;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

#back_of_nav_bar {
    background-color: rgb(65, 90, 119);
    position: fixed;
    top: 0;
    z-index: 900;

    width: 100vw;
    height: 10vh;
}

#nav_bar {
    background-color: rgb(65, 90, 119);
    position: fixed;
    top: 0;
    z-index: 1000;

    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    justify-content: center;
    align-items: center;
    gap: 2em;
    height: 10vh;
    width: 50vw;
}

@media (max-width: 768px) {
    #nav_bar {
        width: 50vw;
        grid-template-columns: 1fr 1fr;
        gap: 0.5em;
        top: 5px;
    }

    #back_of_nav_bar {
        height: 15vh;
    }
}

.nav_contents {
    border-style: solid;
    border-color: rgb(119, 141, 169);
    border-width: 2px;

    color: white;
    padding: 1em;

    text-align: center;

    box-shadow: 5px 5px 10px rgb(45, 70, 99)
}

@media (max-width: 768px) {
    .nav_contents {
        padding: 0.75em;
    }
}

.nav_contents:hover {
    background-color: rgb(119, 141, 169);
    cursor: pointer;
}

#text {
    width: 50vw;
    height: auto;

    color: white;

    display: grid;
    grid-template-rows: auto auto auto;
    justify-content: center;
    align-items: center;
    gap: 5px;
}

#top_of_name {
    position: relative;
    width: 100vw;
    text-align: center;
}

#Name {
    position: relative;
    font-size: clamp(35px, 3vw, 4vw);
    text-align: center;
    width: 100vw;

    text-shadow: 5px 5px 10px black;
}

#bottom_of_name {
    position: relative;
    width: 100vw;
    text-align: center;
}

#logos {
    display: flex;
    flex-direction: row;
    gap: 10px;
    align-items: center;
    justify-content: center;
}

#resume {
    text-align: center;
    padding: 10px;
    border-style: solid;
    border-radius: 10px;
    border-color: red;
    background-color: red;

    white-space: nowrap;
    box-shadow: 5px 5px 10px rgb(3, 14, 22);
}

.fa-square-linkedin {
    font-size: clamp(65px, 5vw, 6vw);
    color: rgb(0, 114, 177);

    text-shadow: 5px 5px 10px rgb(3, 14, 22);
}
.fa-square-linkedin:hover {
    cursor: pointer;
}

.fa-square-github {
    font-size: clamp(65px, 5vw, 6vw);
    color: rgb(241, 80, 47);

    text-shadow: 5px 5px 10px rgb(3, 14, 22);
}
.fa-square-github:hover {
    cursor: pointer;
}

#end {
    position: fixed;
    bottom:0;
    width:100vw;
    height: 5vh;
    background-color: rgb(65, 90, 119);

    text-align: center;
    color: white;
}


